# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store

# Builds
dist/
build/

keys/private.key
keys/public.key

